header {
    display: flex;
    justify-content: space-around;
    margin: 92px 24px;

    #menu {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 391.48px;

        li {
            list-style-type: circle;

            &:first-child  {
                list-style-type: none;
            }
        }
    }

    #logo {
        align-content: center;
        width: 148px;
        height: 105px;
    }

    #contacts {
        display: flex;
        flex-direction: column;
        justify-content: center;
        list-style: none;
        width: 240px;
        font-family: Raleway;
        font-weight: 400;
        font-size: 18px;
        line-height: 24.3px;
        text-align: left;
    }
}

.jambotron {
    display: flex;
    justify-content: center;
    /* align-items: center; */

    .image {
        height: 757px;
        filter: brightness(0.5);
    }

    .content {
        margin-top: 165px;
        display: flex;
        flex-direction: column;
        position: absolute;

        #title {
            height: 355px;
            width: 1000px;


            p {
                display: flex;
                color: #ffffff;
                font-family: Raleway;
                font-size: 100px;
                font-weight: 700;
                line-height: 115px;
                letter-spacing: 0.3em;
                text-transform: uppercase;
            }

            #title_tebe {
                justify-content: center;
            }

            #title_nado {
                justify-content: end;
            }
        }

        #subline {
            color: #ffffff;
            margin-top: 135px;
            display: flex;
            justify-items: center;
            justify-content: flex-end;


            p {
                margin-right: 78px;
                display: flex;
                align-items: center;
                width: 637px;
                
                font-family: Raleway;
                font-size: 22px;
                font-weight: 400;
                line-height: 28px;
                text-align: left;
                text-underline-position: from-font;
                text-decoration-skip-ink: none;
                text-transform: uppercase;

                
            }

            a {
                display: flex;
                width: 256px;
                height: 51px;
                padding: 10px 5px;
                border: solid 1px;

                align-items: center;
                justify-content: center;
                text-transform: uppercase;
            }

        }

    }
}

.lots {
    padding: 181px 25px 0px 25px;

    .card-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* flex-wrap: wrap;
        gap: 25px; */
    
        .card-list-item {
                list-style: none;
        
                .card-link {
                    text-decoration: none;
                }
            }
        
            .card {
                width: 334px;
                height: 563px;
                
                display: flex;
                justify-content: space-between;
                flex-direction: column;

                background-size: cover;
                background-repeat: no-repeat;
                background-color: rgba(0, 0, 0, 0.6);
                background-blend-mode: multiply;

                .card__title {
                    color: #ffffff;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 120%;
                    padding: 50px 40px 0px 40px;
                    text-decoration-line: underline;
                }

                .card__text {
                    color: #ffffff;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    padding: 0 40px 50px 40px;
                }

                &.card_type_film {
                    background: url(../images/card-lot-01.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                background-color: rgba(0, 0, 0, 0.6); 
                background-blend-mode: multiply;
                }

                &.card_type_book {
                    background: url(../images/card-lot-02.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                background-color: rgba(0, 0, 0, 0.6);
                background-blend-mode: multiply;
                }

                &.card_type_picture {
                    background: url(../images/card-lot-03.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                background-color: rgba(0, 0, 0, 0.6);
                background-blend-mode: multiply;
                }
        
            }
        }
        }
